<footer id="footer-default-id" class="footer-default footer-parallax" data-footer-status="on" data-width="100" style="width: 1905px; margin: 0px auto; position: fixed; right: 0px; left: 0px; visibility: visible; opacity: 1;">
    <div class="color-overlay texture-type"></div>
    <div class="color-overlay image-type"></div>
    <div class="texture-overlay"></div>
    <div class="bg-image"></div>
    <div class="content-holder">
        <div class="footer-widgets dark">
            <div class="row widget-area classicStyle border boxed content" style="height: 391px; opacity: 1.05322;">
                <div widgetid="footer-widget-2" id="widget-column-2" class="col-md-3 widget-area-column" style="height: 291px;">

                    <div class="wrapContent">

                        <div class="widget widget-md-text">
                            <h4 class="widget-title clearfix">
                                <img class="text-widget-image" src="{{logo}}" alt="">
                            </h4>
                            <div class="separator"></div>
                            <div class="text-widget-desc">
                                <p></p>
                                <p>{{desc}}</p>
                                <p></p>
                            </div>
                            <div id="text-widget-btn">
                                <style>
                                    #button-5a5f024083c19.shortcode-btn .button-standard.fade-square {
                                        padding: 10px 27px;
                                    }
                                    
                                    #button-5a5f024083c19.shortcode-btn .button-small.fade-square {
                                        padding: 10px 21px;
                                    }
                                    
                                    .button-5a5f024083c19.fade-square {
                                        color: ;
                                    }
                                    
                                    .button-5a5f024083c19.fade-square:hover {
                                        color: ;
                                    }
                                    
                                    .button-5a5f024083c19.fade-square:hover {
                                        background-color: ;
                                        border-color: ;
                                    }
                                </style>

                                <div id="button-5a5f024083c19" class="shortcode-btn  ">
                                    <a class="button fade-square button-5a5f024083c19" href="http://demo.massivedynamic.co/corporate/about-team/" target="">
                                        <i class="button-icon "></i>
                                        <span> Read More </span>
                                    </a>

                                </div>
                                <!-- End wrap button -->
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        &nbsp;

                    </div>

                </div>

                <div widgetid="footer-widget-3" id="widget-column-3" class="col-md-3 widget-area-column" style="height: 291px;">
                    <div class="wrapContent">
                        <div id="recent-posts-6" class="widget widget_recent_entries">
                            <h4 class="widget-title">{{widgetTitle}}</h4>
                            <div class="separator"></div>
                            <ul>
                                {{#each post}}
                                <li>
                                    <a href="{{href}}">{{title}}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </div> &nbsp;
                    </div>
                </div>

                <div widgetid="footer-widget-4" id="widget-column-4" class="col-md-3 widget-area-column" style="height: 291px;">
                    <div class="wrapContent">
                        <div class="widget widget-contact-info">
                            <h4 class="widget-title">{{contactTitle}}</h4>
                            <div class="separator"></div>
                            <div class="widget-contact-info-content">
                                <p>{{address}} </p>
                                <p>{{street}} </p>
                                <p>
                                    <span>{{phone}}</span>
                                    <span>{{phoneNum}}</span>
                                </p>
                                <p>
                                    <span>{{mail}}</span>
                                    <span>{{E-mail}}</span>
                                </p>
                                <p>
                                    <span>{{webSite}}</span>
                                    <span>{{webSiteInfo}}</span>
                                </p>
                            </div>
                        </div>
                        <div id="search-5" class="widget widget_search">
                            <div class="search-form">
                                <form>
                                    <fieldset>
                                        <input type="text" name="s" placeholder="Search..." value="" autocomplete="off">
                                        <input type="submit" value="" autocomplete="off">
                                    </fieldset>
                                </form>
                            </div>
                        </div> &nbsp;

                    </div>

                </div>

                <div widgetid="footer-widget-1" id="widget-column-1" class="col-md-3 widget-area-column" style="height: 291px;">

                    <div class="wrapContent">


                        <div class="widget widget-md-recent-portfolio">
                            <h4 class="widget-title">{{portfolioTitle}}</h4>
                            <div class="item-list">
                                {{#each portfolio}}
                                <div class="item" style="height: 57.75px;">
                                    <a href="{{href}}" class="item-image">
                                        <div style="background-image:url({{bgSrc}});"></div>
                                        <div class="overlay"></div>
                                    </a>
                                </div>
                                {{/each}}
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        &nbsp;

                    </div>

                </div>

            </div>
        </div>
    </div>
    <hr class="footer-separator">
    <div id="footer-bottom" style="min-height: 45px;">
        <div class="centered content" style="opacity: 1.05322;">
            <div class="logo">
                <img src="http://theme.pixflow.net/massive-dynamic/corporate/wp-content/uploads/sites/12/2017/08/corporate_03-2.png">
            </div>
            <div class="text-center copyright">
                <p>Copyright - Made with Massive Dynamic</p>
            </div>
            <div class="social-icons md-hidden footer-spacer">
                <span data-social="facebook">
                    <a href="https://www.facebook.com/Massive-Dynamic-103449616659095/" target="_blank">
                        <span class="icon-facebook2"></span>
                </a>
                </span>
                <span data-social="twitter">
                    <a href="https://twitter.com/Massive_Studio" target="_blank">
                        <span class="icon-twitter5"></span>
                </a>
                </span>
                <span data-social="instagram">
                    <a href="https://www.instagram.com/Massive__Dynamic/" target="_blank">
                        <span class="icon-instagram"></span>
                </a>
                </span>
            </div>
        </div>
    </div>
</footer>