<section class="dark orange-bg" style="background-position: center -8px; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;assets/img/background/orange-drum.jpg&quot;); background-attachment: fixed;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 alpha pull-right">
                        <div class="sub-title text-left">{{subTitle}}</div>
                        <h2 class="text-left">{{title}}</h2>
                        <div class="content">
                            {{#each orangeRow}}
                            <div class="row">
                                <div class="col-md-4 col-sm-5">
                                    <img src="{{src}}" alt="check" class="img-responsive">
                                </div>
                                <div class="col-md-8 col-sm-7 alpha omega">
                                    <div class="medium-title">{{title}}</div>
                                    <p class="white">{{text}}</p>
                                </div>
                            </div>
                            <div class="gap"></div>
                            {{/each}}
 
                            <div class="button-clear">Get in Touch <span><img src="http://www.magictemplates.nl/Solid-01/assets/img/sprite/arrow-btn.png" alt="icon arrow"></span></div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="design-holder">
                            <img src="http://www.magictemplates.nl/Solid-01/assets/img/media/wireframe-iphone.png" alt="design Iphone" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </section>