<div class="zy_top">
    <div class="zy_top_center gy">
        <div class="zy_top_left">
            <div class="zy_top_left_left04">{{title}}
                <span> {{titlePlus}}</span>
            </div>
            <div class="zy_top_left_right_web">
                <div class="zy_top_left_right01">{{titleSub}}
                    <!--<img src="/images/2015/zy_top_line.jpg"   />-->
                </div>
                <div class="zy_top_left_right02">{{subDesc}}</div>
            </div>
        </div>
        <div class="zy_top_right">
            <div class="wz2">
                <i class="glyphicon glyphicon-play"></i> 当前位置：
                <a href="/">{{location}}</a>{{locationSecure}} </div>
        </div>
    </div>
</div>

<div class="website_tc">
    <div class="website_tc_top">{{contentTitle}}
        <span>{{contentTitleEn}}</span>
    </div>
    <div class="website_tc_list">
        <ul>
            {{#each items}}
            <li>
                <a href="">
                    <img src="{{src}}" alt="{{alt}}">
                    <h1>{{title}}</h1>
                    <p>{{desc}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>