<div class="row row-data">
    {{#rowData items 2}}
        <div class="col-xs-12 col-sm-{{@rowNum}} col-md-{{@rowNum}} row-item">
            <h2>{{head}}</h2>
            <h4>{{title}}</h4>
            <div>{{{content}}}</div>
            <ul>
              {{#each contents }}
                <li>
                  <div>
                    <span>{{title}}</span>
                    {{{content}}}
                  </div>
                </li>
              {{/each}}
            </ul>
            
        </div>
    {{/rowData}}
</div>