<footer class="footer-area ">
    <div class="footer-top">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-3 footer-about animated fadeInUp visible " data-animation="fadeInUp" data-animation-delay="400">
                    <img class="footer-logo" src="{{logoSrc}}" alt="">
                    <p class="hidden-xs">{{{comText}}}</p>
                </div>
                <div class="col-md-2 footer-menu animated fadeInLeft visible hidden-xs" data-animation="fadeInLeft" data-animation-delay="200">
                    <nav class="footer-nav">
                        <ul>
                            {{#each page}}
                            <li><a href="{{link}}">{{title}}</a></li>
                            {{/each}}
                        </ul>
                    </nav>
                </div>
                
                <div class="col-md-3 footer-address animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="600">
                    <ul>
                        <li class="email"><a href="{{emailLink}}">{{emailTitle}}</a></li>
                        <li class="phone"><a>{{phoneTitle}}</a></li>
                        <li class="address"><b>{{nameTitle}}</b><br>{{addressText}}</li>
                    </ul>
                </div>
                <div class="col-md-4 footer-map animated fadeInRight visible" data-animation="fadeInRight" data-animation-delay="800">
                    <div class="map-holder">
                        <div id="baiduMap" class="twelve columns"></div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</footer>